#banner {
  background: #eee;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0;
}

#content {
  max-width: 80%;
  margin: 64px auto;
}
